@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lain";   /*Can be any text*/
  src: local("LoveLetter"),
    url("/LoveLetter.ttf") format("truetype");
}

*, *::before, *::after {
  font-family: 'Iosevka Web';
  color: lightblue;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #000;
}


pre:has(div.codeblock) {
  padding: 0;
}
